@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #0A192F; /* Dark Blue */
    --detalhe: #64FFDA; /* Aqua Green */
    --branco: #FFFFFF;
    --botao-ativo: #172A45; /* Darker Blue */
    --botao-inativo: rgba(23, 42, 69, 0.5); /* Semi-transparent Darker Blue */
    --texto-fundo: rgba(23, 42, 69, 0.3); /* Even more transparent Darker Blue */
}

body {
    background-image: url('https://i.redd.it/f76t4h0psckc1.jpeg');
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span {
    color: var(--detalhe);
}

.botao {
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
    cursor: pointer; /* Add pointer cursor for better UX */
}

.botao:first-child {
    border-radius: 40px 40px 0 0;
}

.botoes {
    display: block;
}

.botao.ativo {
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--detalhe);
}

.abas-textos {
    background-color: var(--texto-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}

.aba-conteudo.ativo {
    display: block;
}

.aba-conteudo {
    display: none;
}

.aba-conteudo-titulo-principal {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px; /* Add some space below the title */
}

.aba-conteudo-titulo-secundario {
    text-align: center;
    color: var(--detalhe);
    text-transform: uppercase;
    margin-top: 0; /* Adjust margin */
}

.contador {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px; /* Add some space above the counter */
}

.contador-digito {
    padding: 0 16px;
    text-align: center;
    min-width: 100px;
}

.contador-digito-numero {
    font-size: 80px;
    margin: 0;
}

.contador-digito-texto {
    color: var(--detalhe);
    font-size: 20px;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }

    .botao:first-child {
        border-radius: 40px 0 0 0;
    }

    .botao:last-child {
        border-radius: 0 40px 0 0;
    }
}